#content {
    width: 350px;
    height: 200px;
    overflow: scroll;
}
ul {
    list-style: none;
}

#back {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.hide {
    display: none;
}

.preloader {
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/preloader-64.gif');
    background-repeat: no-repeat;
}

/*********** FORMS **********/
.form {
    width: 250px;
    margin: 10px 10px;
}

.formField {
    width: 100%;
    margin-bottom: 10px;
}
.formField select, .formField button {
    width: 100%;
}

.formLabel {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
}

.error {
    padding: 5px;
    background-color: #fdc;
    border: 1px solid #000;
    color: #000;
}